<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DxTBoxCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DxTBoxCore.Properties.Settings>
            <setting name="Bureau" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImagesPerso" serializeAs="String">
                <value/>
            </setting>
            <setting name="MusiquePerso" serializeAs="String">
                <value/>
            </setting>
            <setting name="VideosPerso" serializeAs="String">
                <value/>
            </setting>
            <setting name="DocumentsPerso" serializeAs="String">
                <value/>
            </setting>
        </DxTBoxCore.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
